@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Kode+Mono:wght@400..700&display=swap');

:root {
    --fonteh1: 'Kode Mono', cursive;

    --cor1:#E6804E ;
    --cor2:#E69A4E ;
    --cor3:#E6B04E ;
    --cor4:#E6C34E ;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor4);
}

header {
    background-image: linear-gradient(to right, red, black);
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
    color: white;
}

header > h1 {
    font-family: var(--fonteh1);
}

header > p {
    padding: 10px;
    font-family: var(--fonteh1);
}

nav {
    background-image: linear-gradient(to left, rgb(211, 197, 3), transparent);
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    font-family: var(--fonteh1);
}

nav a {
    text-decoration: none;
    color: rgb(158, 17, 17);
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    transition-duration: .4s;
}

nav a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}

main {
    display: flexbox;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

article > h1, h2, h3 {
    background-image: linear-gradient(to top, var(--cor1), var(--cor4));
    font-size:2em;
    padding: 10px;
    color: #884421;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}

main p {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

main img {
    width: 50%;
    display: block;
    margin: auto;
    padding: 15px;
}